@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

<h1 class="title text-center"> Medical Director Rounds </h1>

<div class="calendar-scroller">
    <div class="row">
        <div class="btn-group calendar-navigator">
            <button type="button" class="btn btn-primary calendar-previous">&#8249;</button>
            <button type="button" class="btn btn-primary calendar-next">&#8250;</button>
        </div>
    </div>
    <div class="row calendar-parent" data-year="" data-month="" data-day="">
        @for(int i = 0; i < 3; i++)
        {
            <div class="col-md-4">
                <h1 class="calendar-title text-center"></h1>
                <div class="row calendar-week">
                    <div class="col-md-1 calendar-week-day">Monday</div>
                    <div class="col-md-1 calendar-week-day">Tuesday</div>
                    <div class="col-md-1 calendar-week-day">Wednesday</div>
                    <div class="col-md-1 calendar-week-day">Thursday</div>
                    <div class="col-md-1 calendar-week-day">Friday</div>
                    <div class="col-md-1 calendar-week-day">Saturday</div>
                    <div class="col-md-1 calendar-week-day">Sunday</div>
                </div>
                <div class="calendar">
                    @for(int j = 0; j < 5; j++)
                    {
                        <div class="row">
                            @for(int k = 0; k < 7; k++)
                            {
                                <div class="col-md-1 calendar-day">
                                    <time></time>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Styles.Render("~/Content/calendar")
    @Scripts.Render("~/bundles/calendar")
}
